@{
    ViewData["Title"] = "Регистрация";
    ViewData["Page"] = "loginRegister";
    ViewData["NavTypeMini"] = true;
}
@using TravelApp.ViewModels
@model RegisterModel

<div class="page-top" id="templatemo_services">
</div> <!-- /.page-header -->

<div class="middle-content">
    <div class="container">

        <div class="row">
            <div class="col-lg-4 col-md-8 col-sm-12 col-xs-12 block-center">

                <form asp-action="Register" asp-controller="Account" asp-anti-forgery="true" enctype="multipart/form-data">
                    <div class="validation" asp-validation-summary="ModelOnly" />
                    <div class="form-group">
                        <label asp-for="AvatarFile">Avatar</label>
                        <input class="form-control" type="file" asp-for="AvatarFile" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Name"></label>
                        <input class="form-control" type="text" asp-for="Name" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Surname"></label>
                        <input class="form-control" type="text" asp-for="Surname" />
                        <span asp-validation-for="Surname" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email"></label>
                        <input class="form-control" type="text" asp-for="Email" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password"></label>
                        <input class="form-control" type="password" asp-for="Password" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmPassword"></label>
                        <input class="form-control" type="password" asp-for="ConfirmPassword" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-block" type="submit" value="Save">Зарегистрироваться</button>
                    </div>
                </form>

                <a class="btn btn-default btn-block" asp-area="" asp-controller="Account" asp-action="Login">Войти</a>
            </div>
        </div>

    </div>
</div>

