@{
    ViewData["Title"] = "Ошибка";
}

<div class="page-top" id="templatemo_services">
</div> <!-- /.page-header -->

<div class="middle-content">
    <div class="container">
        <h1 class="text-danger">Произошла ошибка</h1>
    </div>
</div>